@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-secondary py-2 px-4 rounded w-fit font-semibold
    }
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
